.chrono_form {
    display: flex;
    flex-direction: column;
    .area{
        display: flex;
        margin-bottom: 20px;
    }

    textarea {
        width: 100%;
    }

    h2,h3{
        margin-top: 0;
    }


    .dictors{
        margin-top: 20px;
    }
}

.chrono_text {
    border-radius: $brad10;
    border:1px solid $msgray;
    padding: 20px;
    background-color: $mgray;
    margin: 20px 0;

    h2,h3{
        margin-top: 0;
    }
    p{
        margin-bottom: 0;
    }

}

.chrono_text_price {
    display: flex;
    justify-content: space-between;

    h2,h3{
        margin: auto auto auto 0;
    }
    p{
        margin: auto 0 auto auto;
    }
}

.zakaz_form{
    display: flex;
    flex-direction: column;

    textarea{
        margin-bottom: 20px;
    }

    .chrono_form__control_panel{
        margin-top: 20px;
    }
}
