form {

    *{
        outline: none;
        border:none
    }

    .required {
        color: $mred;
        font-weight: bold;
    }

    button {
        outline: none;
        background-color: $msgray;
        color: white;
        padding: 10px 30px;
        border-radius: $brad10;
        border: 1px solid $msgray;
    }

    textarea,
    select,
    input {
        border: 1px solid $mcomponentgray;
        padding: 10px 15px;
        border-radius: $brad10;
        background-color: white;
    }

    .quill_wrapper {
        height: 200px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        display: inline-block;

        .ql-container{
            height: calc(100% - 42px);
        }
    }

    label{
        display: inline-block;
        margin: 10px 0 5px 0;
        color: $msgray;
        font-size: 14px;
    }
    .elem_wripper {
        display: flex;
        flex-direction: column;
    }

    .coll2 {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        .col {
            flex: 1;
        }
    }

    .information {
        margin: 5px 0 0 0;
        font-size: 12px;
        display: block;
        padding: 3px 20px;
        background-color: $mgray;
        border: 1px solid $mcomponentgray;
        border-radius: 10px;
    }

}

.error_list {
    display: flex;
    flex-wrap: wrap;

    .error{
        background-color: $mred;
        color: white;
        padding: 2px 15px;
        margin: 5px 10px 5px 0;
        font-size: 12px;
        border-radius: $brad20;
    }
}

