@import "vars";
@import "null";
@import "fonts";
@import "form-component";
@import "text-style";

$greencolor: #7eaf00;
$graycolor: #f9f9fd;

body {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 16px;
}

section {
    width: 100%;
    padding: 20px 0;
}

h1{
    font-size: 32px;
}

._container {
    width: 1440px;
    margin: auto;

    @media screen and (max-width: 1440px) {
        width: 96%;
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 25px;
    font-weight: 400;
    color: #000;
    background: #f7eae4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.clr_btn {
    width:calc(100% - 30px * 2);
    border-radius: $brad10;
    display: inline-block;
    background-color: $mred;
    color: white;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.clr_btn.graybtn{
    background-color: $msgray;
}

.sidebar_section {
    display: flex;

    & > * {
        min-height: 100px;
    }
    &__content {
        flex: 1 1 auto;
    }

    &__sidebar {

        margin-left: 30px
    }
}
.download_btn{
    background-color: $mred;
    color:white!important;
    padding: 7px 20px 7px 40px;
    border-radius: $brad10;
    position: relative;
    display: block;

    &:hover{
        text-decoration: none!important;
        background-color: $mdarcred;
    }

    &:before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        left: 10px;
        top:calc(50% - 9px);
        background-image: url(../img/icons/download.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    &:hover::before{
        width: 20px;
        height: 20px;
        left: 9px;
        top:calc(50% - 10px);
    }
}


.work_time_text {

    margin-top: 30px;
    padding: 18px 30px;
    background-color: $mgray;
    border-radius: $brad20
}

.user_files_form {
    display: flex;
    flex-wrap: wrap;

    input[type=text] {
        flex:1;
        margin-right: 10px;
    }
}

.snoska {
    font-size: 12px;
}










@media screen and (max-width:768px) {
    .sidebar_section {
        flex-direction: column
    }

    .sidebar_section__sidebar {
        margin-left: 0
    }
}

@media screen and (max-width:480px) {
    .user_files_form {
        flex-direction: column;
        margin-bottom: 40px;

        input[type=text] {

            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

@import "contacts";
@import "roliki";
@import "mobile-menu";
@import "header";
@import "icon-menu";
@import "mobile-menu";
@import "dictor-vidget";
@import "footer";
@import "index";
@import "file-list";
@import "chrono";
